.home {
  height: 90vh;
  width: 99.4vw;
  overflow: hidden;
  position: relative;
}

.home-header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  margin: 1.5rem 3rem;
}

.logo-container {
  display: flex;
  flex: 0.5;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  letter-spacing: 6px;
  color: #22242b;
}
.buttons-container {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
}

.login-signup-button {
  width: 10rem;
  border-radius: 200px !important;
  margin: 20px !important;
}

.main-text {
  margin-left: 10rem;
  margin-top: 10rem;
  color: #22242b;
}

.hero-text {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  letter-spacing: 3px;
}

.hero-subText {
  font-family: "Merriweather", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  max-width: 40rem;
  line-height: 42px;
  margin-top: 2rem;
  letter-spacing: 3px;
}

.hero-image {
  position: absolute;
  right: 8rem;
  top: 5rem;
  width: 40rem;
}
