.what {
  height: 100vh;
  position: relative;
}

.what-text {
  margin-top: 6rem;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  letter-spacing: 3px;
  margin-left: 10rem;
}

.what-desc {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Merriweather";
  font-size: 1.4rem;
  margin-left: 10rem;
  max-width: 60rem;
  line-height: 43px;
  letter-spacing: 0.2px;
}

.secureImage {
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: -1;
  opacity: 0.5;
  width: 50rem;
}